  
body {
  margin: 0;
}
 
.content-section {
  display: flex;
  flex-direction: column;
  width: 100vh;

}

.section-card {
  width: 80%;
  max-width: 800px;
  margin: 10px ;
 
}
 

h1,
h2,
h3 {
  color: #333;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.section-card p {
  text-align: justify;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 2fr); 
  gap: 15px;  
  height: 300px ;
}

.product-item {
  border-radius: 8px;  
 
}
