<div class="container">
  <header>
    <app-header></app-header>
  </header>
  <section class="containerContent" style="background-color: rgb(179, 185, 191);">
    <aside
      style="
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 5px;
      "
    >
      <app-aside></app-aside>
    </aside>
    <article class="containerArticule">
      <app-home></app-home>
    </article>
  </section>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
