.containerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.918);
  height: 100vh;
}
.containerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: auto;
  width: 100%;
}

::ng-deep .custom-card {
  width: 29.25rem;
  padding: 1.25rem;
  margin: 0;
  background-color: red !important;
}
.containerElements {
  padding: 0;
  margin: 0;
  background-color: black;
}
.containerInput {
  margin-bottom: 20px;
  background-color: green;
}
h1 {
  text-align: center;
  color: beige;
}
