
<div class="container">
    <form [formGroup]="form" >
        <p-card class="flex justify-content-center" header="Agregar producto" subheader="Aqui podras Agregar un producto" styleClass="custom-card">
            <div class="flex justify-content-between">
                <p style="padding-right: 2rem;">Ingresa el id del producto</p>
                <input type="text" style="padding-right: 10rem;" />
              </div>
              <div class="flex justify-content-between">
                <p style="padding-right: 2rem;">Ingresa el nombre del producto</p>
                <input type="text" style="padding-right: 10rem;" />
              </div>
              <div class="flex justify-content-between">
                <p style="padding-right: 2rem;">Ingresa una descripcion delproducto</p>
                <input type="text" style="padding-right: 10rem;" />
              </div>
              <div class="flex justify-content-between">
                <p style="padding-right: 2rem;">Ingresa lacantidad de productos </p>
                <input type="number" style="padding-right: 10rem;" />
              </div>
              <div class="flex justify-content-between">
                <p style="padding-right: 2rem;">Ingresa una url de la imagen del producto</p>
                <input type="text" style="padding-right: 10rem;" />
              </div>
              <div class="flex justify-content-between">
                <p style="padding-right: 2rem;">Ingresa el precio del producto</p>
                <input type="number" style="padding-right: 10rem;" />
              </div>
              <div class="flex justify-content-center">
                  <p-button
                label="Agregar" icon="pi pi-plus" iconPos="right" (click)="addProduct()"></p-button>
              </div>
        </p-card>
    </form>
</div>