@import "primeicons/primeicons.css";
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html,
body {
  height: 100%; /* Necesario para que los hijos puedan usar height: 100% */
  margin: 0; /* Elimina márgenes por defecto */
  padding: 0; /* Elimina rellenos por defecto */
}
