 
.container {
  margin: 0;
  display: flex;  
  justify-content: center;  
  align-items: center; 
  height: 100vh; 
  background-color: var(--primaryColor);
}
div {
    margin: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    margin-bottom: 10px;
    padding: 5px;
  }
 p{
   
  text-align: center;
 }
 
