
<div class="container">
    <p-card class="flex justify-content-center" header="Buscar producto" subheader="Aqui podras buscar un producto" styleClass="custom-card">
        <div class="flex justify-content-center">
            <p>ID producto a buscar</p>
          </div>
          <div class="flex justify-content-center">
            <input type="text" placeholder="Escribe el id de tu producto" />
          </div>
          <div class="flex justify-content-center">
              <p-button
            label="Buscar" icon="pi pi-search" iconPos="right" ></p-button>
          </div>
    </p-card>
</div>
    
