<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title()}}</title>
  <link rel="stylesheet" href="https://unpkg.com/primeng/resources/themes/lara-light-purple/theme.css" />
  <link rel="stylesheet" href="https://unpkg.com/primeng/resources/primeng.min.css" />
 
</head>
<body>
  <footer>
    <div class="footer-content">
      <h1 style="width: 100%;">{{title()}}</h1>
      <p>{{context()}}</p>
      <p style="width: 100%;">Cristian Salazar - Deivy Ascuntar</p>
      <i style="width: 100%;" class="pi pi-discord "></i>
    </div>
  </footer>
</body>
</html>
