<div class="flex justify-content-center">
  <p-card class="flex justify-content-center" header="Eliminar Producto" subheader="Aquí podrás eliminar un producto" styleClass="custom-card">
    <form [formGroup]="form" (ngSubmit)="eliminarProducto()">
      <div class="flex justify-content-center">
        <label for="productoId">ID del producto a eliminar</label>
      </div>
      <div class="flex justify-content-center">
        <input
          id="productoId"
          type="text"
          formControlName="productoId"
          placeholder="Escribe el ID del producto"
          class="p-inputtext"
        />
      </div>
      <div class="flex justify-content-center">
        <p-button
          label="Eliminar"
          icon="pi pi-trash"
          iconPos="right"
          [disabled]="form.invalid"
          type="submit"
        ></p-button>
      </div>
    </form>
  </p-card>
</div>
