<div class="containerDelete"  >
  <p-card  class="justify-content-center " >
    <div style="width: 600px; height: 400px; display: flex; ">
      <div><header style="display: flex; justify-content: center; font-weight:bolder; font-size: xx-large; padding-top: 35px;" >Eliminar producto</header>
        <p style="display: flex; justify-content: center; padding: 2rem;">En esta seccion podras eliminar un producto</p>
        <form [formGroup]="form" (ngSubmit)="eliminarProducto()">
          <div class="flex justify-content-center">
            <label for="productoId">ID del producto a eliminar</label>
          </div>
          <div class="divInput">
            <input
              id="productoId"
              type="text"
              formControlName="productoId"
              placeholder="Escribe el ID del producto"
              class="p-inputtext"
            />
          </div>
          <div class="divButton">
            <p-button
              label="Eliminar"
              icon="pi pi-trash"
              iconPos="right"
              [disabled]="form.invalid"
              type="submit"
              size="large"
            ></p-button>
          </div>
          <div class="homeButton">
            <p-button icon="pi pi-home" styleClass="p-button-rounded p-button-primary" (onClick)="goToHome()" ></p-button>
          </div>
        </form>
      </div>
      <hr>
      <div> 
      <app-filtro-producto></app-filtro-producto>
      </div>
    </div>
    
  </p-card>
</div>
