
<div class="flex justify-content-center" >
  <p-card class="flex justify-content-center" header="Eliminar Producto" subheader="Aqui podras eliminar un producto" styleClass="custom-card" >
    <div class="flex justify-content-center">
      <p>ID producto a eliminar</p>
    </div>
    <div class="flex justify-content-center">
      <input type="text" placeholder="Escribe el id de tu producto" />
    </div>
    <div class="flex justify-content-center">
        <p-button
      label="Eliminar" icon="pi pi-delete-left" iconPos="right" ></p-button>
    </div>
    
  </p-card>
</div>
