.containerp {
  height: 100%;
  background-color: var(--primaryColor);
  display: flex;
  flex-direction: column;
  padding: 1rem;
 
}
.container {
  display: flex;
  flex-direction: column;
}
.containerAside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
 
}
 
.search-results {
  margin-top: 1rem;
  color: white;
  text-align: center;
}

.search-results ul {
  list-style: none;
  padding: 0;
}

.search-results li {
  margin: 0.5rem 0;
}

