<div class="containerp" >
  <div class="containerAside" style="display: flex; flex-direction: column; align-items: center; gap: 2rem;">
    <p-button icon="pi pi-shop" label="Store" (click)="onSelectComponent('store')" (onClick)="goToHome()"></p-button>
    <p-button icon="pi pi-upload" label="Add" (click)="onSelectComponent('add')" (onClick)="goToAdd()"></p-button>
    <p-button icon="pi pi-print" label="Delete" (click)="onSelectComponent('delete')" (onClick)="goToDelete()"></p-button>
    <p-button icon="pi pi-sync" label="Modificar" (click)="onSelectComponent('modificar')"(onClick)="goTomodificar()"></p-button>
    <p-button icon="pi pi-users" label="Users" (click)="onSelectComponent('users')" ></p-button>
    <p-button icon="pi pi-github" label="GitHub" (click)="onSelectComponent('github')"></p-button>
  </div>
  

  <div style="padding-top: 35px; text-align: center; color: aliceblue; display: flex; flex-direction: column;">
    <label for="buscar">Search</label>
    <input 
    id="buscar" 
    type="text" 
    placeholder="Item Search" 
    [(ngModel)]="searchTerm"
    (keyup)="onSearch()"
  />
  </div>
 
  <div *ngIf="searchResults.length > 0" class="search-results">
    <ul>
      <li *ngFor="let product of searchResults">
        {{ product.name }} - ${{ product.price }} - {{product.id}}
      </li>
    </ul>
  </div>
  <div *ngIf="searchResults.length === 0 && searchTerm.trim() !== ''">
    <p>No products found</p>
  </div>
</div>
