<div class="containerp" style="display: flex; justify-content: center; padding: 2.5rem;">
  <div class="containerAside" style="display: flex; flex-direction: column; align-items: center; gap: 2rem;">
    <p-button icon="pi pi-shop" label="Store" [link]=" "> </p-button>
    <p-button icon="pi pi-upload" label="Add" [link]=" "></p-button>
    <p-button icon="pi pi-print" label="Delete" [link]=" "  ></p-button>
    <p-button icon="pi pi-users" label="Users" [link]=" "> </p-button>
    <p-button icon="pi pi-github" label="GitHub" [link]="true"> </p-button>
  </div>
</div>
