.containerPrincipal{
    display: flex;
    align-items: center;
    background-color:var(--primaryColor);
    height: 100vh;
}
.container {
    width: 50%;
    margin: auto;
    background-color: #2a2a42;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    margin-top: 10px;
  }
  