<div class="card">
  <p-toolbar [style]="{'font-size': '0.875rem', 'padding': '0.5rem 1rem',}">
    <div class="p-toolbar-group-start">
      <p-button icon="pi pi-plus" class="mr-2 p-button-sm" text="save" />
      <p-button icon="pi pi-print" class="mr-2 p-button-sm" text="save" />
      <p-button icon="pi pi-upload" class="p-button-sm" text="save" />
    </div>

    <div style="  display: flex; flex-direction: column;">
      <h1 style="margin: 0; text-align: center;">
        STORE CH
      </h1>
      <p style="padding: 0; margin:0; text-align: center;" >¡Que lo Caro no Te quite la Humildad!</p>
    </div>
    <div>
      <p-button icon="pi pi-users" class="mr-2 p-button-sm" text="save" />
    </div>
  </p-toolbar>
</div>
